:root {
  --theme-white: hsl(0, 0%, 98%);
  --theme-grey: hsl(0, 0%, 41%);
  --theme-black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  font-size: 18px;
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
